In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings(action="ignore")
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
#importing "application_data"

app_data = pd.read_csv("application_data.csv")
app_data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#importing "previous_application_data"
prev_data = pd.read_csv("previous_application.csv")
prev_data.head()

In [ ]:
app_data.size

In [ ]:
app_data.shape

In [ ]:
app_data.columns

In [ ]:
app_data.info(all)

In [ ]:
app_data.describe()

In [ ]:
null_val = app_data.isnull().sum()
null_val.sort_values(ascending = False)

    Converting null_val in to a data frame for better analysis.

In [ ]:
null_values = pd.DataFrame(null_val).reset_index()

In [ ]:
null_values.rename(columns={'index': 'index name', 0 : "null_count"}, inplace=True)

In [ ]:
null_values['null_percent'] = null_values['null_count']/307511*100                                  #307511 total number of rows

In [ ]:
null_values

In [ ]:
removeable_col = null_values[null_values["null_percent"] >=40]['index name']

In [ ]:
removeable_col = list(removeable_col)
removeable_col

In [ ]:
app_data = app_data.drop(removeable_col,axis = 1)

In [ ]:
app_data.shape

In [ ]:
round(100*(app_data.isnull().sum()/len(app_data.index)),2).sort_values(ascending=False)

In [ ]:
app_data.info()

In [ ]:
app_data.describe()

In [ ]:
#converting negative values to positive
app_data[["DAYS_BIRTH","DAYS_EMPLOYED","DAYS_REGISTRATION","DAYS_ID_PUBLISH","DAYS_LAST_PHONE_CHANGE"]] = app_data[["DAYS_BIRTH","DAYS_EMPLOYED","DAYS_REGISTRATION","DAYS_ID_PUBLISH","DAYS_LAST_PHONE_CHANGE"]].apply(abs)

In [ ]:
app_data.describe()

In [ ]:
app_data.nunique().sort_values()

In [ ]:
#converting dtype of columns to 'object' 
obj = app_data.columns[app_data.nunique() <= 50]
app_data[obj] = app_data[obj].astype(object)

#creating new field 
app_data['Client_Age'] = app_data['DAYS_BIRTH'].apply(lambda x: x//365)
app_data['Employed_Years'] = app_data['DAYS_EMPLOYED'].apply(lambda x: x//365)

In [ ]:
app_data["SK_ID_CURR"] = app_data["SK_ID_CURR"].astype(object) 
app_data.loc[app_data["CODE_GENDER"] == "XNA","CODE_GENDER"] = np.NaN
app_data.describe()

In [ ]:
#dropping null values
app_data = app_data[app_data['DAYS_LAST_PHONE_CHANGE'].notna()]
app_data = app_data[app_data['CNT_FAM_MEMBERS'].notna()]
app_data = app_data[app_data['CODE_GENDER'].notna()]
app_data = app_data[app_data['AMT_ANNUITY'].notna()]
app_data = app_data[app_data['AMT_GOODS_PRICE'].notna()]
app_data = app_data[app_data['EXT_SOURCE_2'].notna()]

app_data.isnull().sum()

In [ ]:
#Treating columns that are missing values around 1000. By replacing them with the most occuring values (mode).
#OBS_30_CNT_SOCIAL_CIRCLE        1017
#DEF_30_CNT_SOCIAL_CIRCLE        1017
#OBS_60_CNT_SOCIAL_CIRCLE        1017
#DEF_60_CNT_SOCIAL_CIRCLE        1017
#NAME_TYPE_SUITE                 1014


100*(app_data["OBS_30_CNT_SOCIAL_CIRCLE"].value_counts()/len(app_data["OBS_30_CNT_SOCIAL_CIRCLE"]))

In [ ]:
app_data['OBS_30_CNT_SOCIAL_CIRCLE'].fillna(0.0, inplace=True)

In [ ]:
100*(app_data["DEF_30_CNT_SOCIAL_CIRCLE"].value_counts()/len(app_data["DEF_30_CNT_SOCIAL_CIRCLE"]))

In [ ]:
app_data['DEF_30_CNT_SOCIAL_CIRCLE'].fillna(0.0, inplace=True)

In [ ]:
100*(app_data["OBS_60_CNT_SOCIAL_CIRCLE"].value_counts()/len(app_data["OBS_60_CNT_SOCIAL_CIRCLE"]))

In [ ]:
app_data['OBS_60_CNT_SOCIAL_CIRCLE'].fillna(0.0, inplace=True)

In [ ]:
100*(app_data["DEF_60_CNT_SOCIAL_CIRCLE"].value_counts()/len(app_data["DEF_60_CNT_SOCIAL_CIRCLE"]))

In [ ]:
app_data['DEF_60_CNT_SOCIAL_CIRCLE'].fillna(0.0, inplace=True)

In [ ]:
100*(app_data["NAME_TYPE_SUITE"].value_counts()/len(app_data["NAME_TYPE_SUITE"]))

In [ ]:
app_data['NAME_TYPE_SUITE'].fillna("Unaccompanied", inplace=True)

In [ ]:
app_data.groupby(["OCCUPATION_TYPE"]).size().sort_values(ascending = False)

In [ ]:
app_data["OCCUPATION_TYPE"].fillna("Laborers", inplace = True)

In [ ]:
amt = []

for col in app_data.columns:
    if col.startswith("AMT_REQ_CREDIT_BUREAU"):
        amt.append(col)

In [ ]:
amt

In [ ]:
for i in amt:
    app_data[i] = app_data[i].fillna(app_data[i].median())

In [ ]:
app_data.isnull().sum()

In [ ]:
#Coverting unit of fields to thousands
app_data[['AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE']] = app_data[['AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE']].apply(lambda x: x/1000)

In [ ]:
app_data.describe()

In [ ]:
app_data['TOTAL_INCOME_BANDED'] = pd.cut(app_data['AMT_INCOME_TOTAL'],[-np.inf,100,200,300,400,500,np.inf])
app_data['CREDIT_BANDED'] = pd.cut(app_data['AMT_CREDIT'],[-np.inf,200,400,600,800,1000,np.inf])
app_data['ANNUITY_BANDED'] = pd.cut(app_data['AMT_ANNUITY'],[-np.inf,10,20,30,40,np.inf])
app_data['GOODS_PRICE_BANDED'] = pd.cut(app_data['AMT_GOODS_PRICE'],[-np.inf,200,400,600,800,1000,np.inf])
app_data.head()

# Finding Outliers

In [ ]:
app_data[['AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE','Employed_Years']].describe()

In [ ]:
app_data[['AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE','Employed_Years']].quantile([0.60,0.70,0.80,0.90,0.99,0.999,1])

In [ ]:
figa, (ax1, ax2, ax3) = plt.subplots(1,3,figsize=(22, 4))
sns.boxplot(y='AMT_INCOME_TOTAL',data=app_data,ax=ax1)
sns.boxplot(y='AMT_CREDIT',data=app_data,ax=ax2)
sns.boxplot(y='AMT_ANNUITY',data=app_data,ax=ax3)

figb, (ax1, ax2, ax3) = plt.subplots(1,3,figsize=(22, 4))
sns.boxplot(y='AMT_GOODS_PRICE',data=app_data,ax=ax1)
sns.boxplot(y='Client_Age',data=app_data,ax=ax2)
sns.boxplot(y='Employed_Years',data=app_data,ax=ax3)


plt.show()

In [ ]:
#outliers

#1. AMT_GOODS_PRICE above 13 lkh
#2. EMPLOYED_YEARS above 19 years
#3. AMT_ANNUITY above 60,000
#4. AMT_INCOME_TOTAL above 2 lkh
#5. AMT_CREDIT above 15 lkh

In [ ]:
#data imbalance

tgts = app_data.groupby('TARGET').count()['SK_ID_CURR']
fig1, ax = plt.subplots(figsize=(4, 4))


colors = [(1, 0, 0), (0, 1, 0)]

ax = sns.barplot(x=tgts.index, y=tgts.values, label='TARGET', palette=colors)

ax.set_xlabel('TARGET')
ax.set_ylabel('COUNT')
ax.set_title('DATA IMBALANCE', fontsize=15)
plt.show()

In [ ]:
sns.barplot(x=['Repayer', 'Defaulter'], y=app_data['TARGET'].value_counts(), palette=['brown', 'black'])
plt.title("Imbalance Plotting")
plt.xlabel("Loan Repayment Status")
plt.ylabel("Count of Repayers & Defaulters")
plt.show()

In [ ]:
plt.scatter(app_data['AMT_CREDIT'], app_data['AMT_INCOME_TOTAL'])
plt.xlabel('Credit Amount')
plt.ylabel('Income')
plt.title('Credit Amount vs Income')

plt.show()

In [ ]:
#Crating 2 data frames for better analysis. 
app_data0 = app_data[app_data['TARGET'] == 0]
app_data1 = app_data[app_data['TARGET'] == 1]

In [ ]:
print (app_data0.shape)
print (app_data1.shape)

In [ ]:
#comparing app_data0 to  app_data1

In [ ]:
plt.figure(1,figsize=(22,15))

plt.subplot(3,2,1)
sns.distplot(app_data0['AMT_INCOME_TOTAL'],hist=False)
sns.distplot(app_data1['AMT_INCOME_TOTAL'],hist=False)

plt.subplot(3,2,2)
sns.distplot(app_data0['AMT_CREDIT'],hist=False)
sns.distplot(app_data1['AMT_CREDIT'],hist=False)

plt.subplot(3,2,3)
sns.distplot(app_data0['AMT_GOODS_PRICE'],hist=False)
sns.distplot(app_data1['AMT_GOODS_PRICE'],hist=False)

plt.subplot(3,2,4)
sns.distplot(app_data0['AMT_ANNUITY'],hist=False)
sns.distplot(app_data1['AMT_ANNUITY'],hist=False)

plt.subplot(3,2,5)
sns.distplot(app_data0['Client_Age'],hist=False)
sns.distplot(app_data1['Client_Age'],hist=False)

plt.subplot(3,2,6)
sns.distplot(app_data0['Employed_Years'],hist=False)
sns.distplot(app_data1['Employed_Years'],hist=False)

plt.show()

In [ ]:
#the exception of CLIENT_AGE, which is more evenly distributed between the ages of 20 and 60 years when TARGET = 1, 
#which indicates that the client is having trouble making payments, and between the ages of 20 and 70 when TARGET = 0, 
#there is no discernible difference in trends for either case for any of the variables.

In [ ]:
colors = ["yellow", "brown"]
sns.set_palette(sns.color_palette(colors))
fig, axs = plt.subplots(ncols=2, figsize=(12, 4))
sns.countplot(x='NAME_HOUSING_TYPE', hue='TARGET', data=app_data, ax=axs[0])
axs[0].set_xticklabels(axs[0].get_xticklabels(), rotation=90)
axs[0].set_xlabel('Housing Type')
axs[0].set_ylabel('Count')
axs[0].set_title('Distribution of Housing Type')
sns.countplot(x='OCCUPATION_TYPE', hue='TARGET', data=app_data, ax=axs[1])
axs[1].set_xticklabels(axs[1].get_xticklabels(), rotation=90)
axs[1].set_xlabel('Occupation Type')
axs[1].set_ylabel('Count')
axs[1].set_title('Distribution of Occupation Type')

plt.show()

In [ ]:
#1. In both instances, the majority of the clients are labour. When TARGET = 1 compared to TARGET = 0, drivers are more prevalent than managers. Additionally, with TARGET = 1, the proportions of the kitchen staff, security personnel, and highly skilled technical personnel are nearly identical, thus they might all be grouped together.

#2. A sizable percentage of clients own a home or flat in both situations, although the percentage is higher when TARGET = 0.

In [ ]:
colors = ["yellow", "cyan"]
sns.set_palette(sns.color_palette(colors))

plt.figure(1, figsize=(22, 15))

plt.subplot(3, 2, 1)
sns.boxplot(data=app_data, x="TARGET", y="AMT_INCOME_TOTAL")

plt.subplot(3, 2, 2)
sns.boxplot(data=app_data, x="TARGET", y="AMT_CREDIT")

plt.subplot(3, 2, 3)
sns.boxplot(data=app_data, x="TARGET", y="AMT_GOODS_PRICE")

plt.subplot(3, 2, 4)
sns.boxplot(data=app_data, x="TARGET", y="AMT_ANNUITY")

plt.subplot(3, 2, 5)
sns.boxplot(data=app_data, x="TARGET", y="Client_Age")

plt.subplot(3, 2, 6)
sns.boxplot(data=app_data, x="TARGET", y="Employed_Years")

plt.show()

In [ ]:
#With the exception of the client's age, everything appears to be distributed differently in the two scenarios, where TARGET = 0 and TARGET = 1.
#outcome confirmation

quantiles = [0.25, 0.5, 0.75, 0.9, 0.95, 0.99, 1]
app_data.groupby('TARGET')['Client_Age'].quantile(quantiles)

In [ ]:
#This demonstrates that younger individualswho are found in the sample with TARGET = 1were actually the ones experiencing payment difficulties.
#When TARGET = 0, the 75th percentile is 54; when TARGET = 1, it is 49.

In [ ]:
plt.figure(figsize=(20, 22))

red, yellow = sns.color_palette("husl", 2)

plt.subplot(3, 2, 1)
sns.countplot(x='NAME_CONTRACT_TYPE', hue='TARGET', data=app_data, palette=[red, yellow])
plt.xticks(rotation=30)

plt.subplot(3, 2, 2)
sns.countplot(x='CODE_GENDER', hue='TARGET', data=app_data, palette=[red, yellow])
plt.xticks(rotation=30)

plt.subplot(3, 2, 3)
sns.countplot(x='NAME_TYPE_SUITE', hue='TARGET', data=app_data, palette=[red, yellow])
plt.xticks(rotation=20)

plt.subplot(3, 2, 4)
sns.countplot(x='NAME_INCOME_TYPE', hue='TARGET', data=app_data, palette=[red, yellow])
plt.xticks(rotation=20)

plt.subplot(3, 2, 5)
sns.countplot(x='NAME_EDUCATION_TYPE', hue='TARGET', data=app_data, palette=[red, yellow])
plt.xticks(rotation=30)

plt.subplot(3, 2, 6)
sns.countplot(x='NAME_FAMILY_STATUS', hue='TARGET', data=app_data, palette=[red, yellow])
plt.xticks(rotation=30)

plt.show()

In [ ]:
#Married clients make up the majority, followed by single, legally married, divorced, and widowed clients.

#The majority of clientele have a secondary education

#In comparison to revolving loans, a far higher percentage of customers have chosen cash loans.

#The share of working clients is substantially higher than that of commercial associates, pensioners, and state employees.

In [ ]:
plt.figure(figsize=(20, 12))

plt.subplot(2, 2, 1)
sns.countplot(x='FLAG_OWN_CAR', hue='TARGET', data=app_data, palette=['cyan', 'orange'])
plt.xticks(rotation=90)

plt.subplot(2, 2, 2)
sns.countplot(x='FLAG_OWN_REALTY', hue='TARGET', data=app_data, palette=['cyan', 'orange'])
plt.xticks(rotation=90)

app_data['CNT_CHILDREN_GROUPED'] = pd.cut(app_data['CNT_CHILDREN'], [-np.inf, 0, 1, 2, 3, np.inf])
plt.subplot(2, 2, 3)
sns.countplot(x='CNT_CHILDREN_GROUPED', hue='TARGET', data=app_data, palette=['cyan', 'orange'])
plt.xticks(rotation=90)

app_data['CNT_FAM_MEMBERS_GROUPED'] = pd.cut(app_data['CNT_FAM_MEMBERS'], [-np.inf, 0, 1, 2, 3, 4, np.inf])
plt.subplot(2, 2, 4)
sns.countplot(x='CNT_FAM_MEMBERS_GROUPED', hue='TARGET', data=app_data, palette=['cyan', 'orange'])
plt.xticks(rotation=90)

plt.show()

In [ ]:
#1. As the number of children rises, the proportion falls.
#2. Most people own real estate
#3. Most people do not possess cars

In [ ]:
#Bivariate analysis when TARGET = 1
sns.pairplot(data=app_data1, vars=['Client_Age', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'Employed_Years', 'AMT_INCOME_TOTAL', 'AMT_CREDIT'], diag_kws=dict(color='red', edgecolor='white'), plot_kws=dict(edgecolor='cyan', alpha=0.5))
plt.subplots_adjust(top=0.95)
plt.suptitle('Scatterplot Matrix for Loan Applicants (Target=1)', fontsize=18)
plt.show()

In [ ]:
#When total revenue exceeds 10 Cr., there is one obvious exception that could skew our results. Consequently, we should examine the portfolio without that client and instead focus on that client's debt.

In [ ]:
#corelation check
cr_1 = app_data1.corr()
cr_1 = cr_1.where(np.triu(np.ones(cr_1.shape),k=1).astype(np.bool))
cr_df1 = cr_1.unstack().reset_index()
cr_df1.columns = ['VAR1','VAR2','Correlation']
cr_df1.dropna(subset = ['Correlation'],inplace=True)
cr_df1['Correlation'] = round(cr_df1['Correlation'],2)
cr_df1['Correlation_abs'] = cr_df1['Correlation'].abs()
cr_df1 = cr_df1[cr_df1['Correlation_abs'] != 1]
cr_df1 = cr_df1[~cr_df1.VAR1.str.contains('1000')]
cr_df1 = cr_df1[~cr_df1.VAR2.str.contains('1000')]
cr_df1.sort_values(by = 'Correlation_abs', ascending = False)

In [ ]:
#Bivariate analysis when TARGET = 0
sns.pairplot(data=app_data0, vars=['Client_Age', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'Employed_Years', 'AMT_INCOME_TOTAL', 'AMT_CREDIT'], diag_kws=dict(color='cyan', edgecolor='pink'), plot_kws=dict(edgecolor='cyan', alpha=0.5))
plt.subplots_adjust(top=0.95)
plt.suptitle('Scatterplot Matrix for Loan Applicants (Target=0)', fontsize=18)
plt.show()

In [ ]:
#corelation check
cr_0 = app_data0.corr()
cr_0 = cr_0.where(np.triu(np.ones(cr_0.shape),k=1).astype(np.bool))
cr_df0 = cr_0.unstack().reset_index()
cr_df0.columns = ['VAR1','VAR2','Correlation']
cr_df1.dropna(subset = ['Correlation'],inplace=True)
cr_df0['Correlation'] = round(cr_df1['Correlation'],2)
cr_df0['Correlation_abs'] = cr_df1['Correlation'].abs()
cr_df0 = cr_df0[cr_df0['Correlation_abs'] != 1]
cr_df0 = cr_df0[~cr_df0.VAR1.str.contains('1000')]
cr_df0 = cr_df0[~cr_df0.VAR2.str.contains('1000')]
cr_df0.sort_values(by = 'Correlation_abs', ascending = False)

In [ ]:
#The same variables have the highest correlations in both scenarios, with TARGET = 0 slightly higher than TARGET = 1: 
#1. The strongest positively linked variables are AMT_GODS_PRICE and AMT_CREDIT, with coeeficients of 0.98 when TARGET = 1 and 0.99 when TARGET = 0. Since people receive loans in a quantity corresponding to the purpose for which they would use them, this is to be expected.
#2. Since the annuity amount will be proportionate to the loan amount, AMT_ANNUITY and AMT_CREDIT also have a significant correlation.
#3. As a result, there is a strong correlation between AMT_ANNUITY and AMT_GOODS_PRICE indirectly.

In [ ]:
#combining prev_app and app_data
comb_data = pd.merge(app_data,prev_data, how='left', on='SK_ID_CURR')
comb_data.head()

In [ ]:
comb_data.info()

In [ ]:
comb_data.shape

In [ ]:
comb_data.describe()

In [ ]:
#checking null values in comb_data
100*(comb_data.isnull().sum()/len(comb_data.index)).sort_values(ascending=False)

In [ ]:
# Dropping columns with 50%+ null values
drop_col = comb_data.columns[round(100*(comb_data.isnull().sum()/len(comb_data.index)), 2) >= 50.00]
comb_data.drop(drop_col, axis=1, inplace=True)

# Printing the percentage of null values in each column in descending order
null_percentages = round(100*(comb_data.isnull().sum()/len(comb_data.index)), 2).sort_values(ascending=False)
print(null_percentages)

In [ ]:
comb_data.dtypes

In [ ]:
plt.figure(figsize=(40,5))
plt.rcParams["axes.labelsize"] = 80
plt.rcParams['axes.titlesize'] = 80                                                           
plt.rcParams['axes.titlepad'] = 50
fig, axes = plt.subplots(nrows=1,ncols=2)                  
sns.set_context('talk')
fig.subplots_adjust(left= 0.09,bottom=1,right=3,top= 12,wspace=0.5,hspace=0.3) 


plt.subplot(121)
plt.xscale('log')                                                                                  
sns.countplot(data=app_data0,y='ORGANIZATION_TYPE',
              order=app_data['ORGANIZATION_TYPE'].value_counts().index,palette=['green'],hue = 'TARGET')
plt.title("ORGANIZATION_TYPE Vs Target 0")



plt.subplot(122)
plt.xscale('log')                                                                              
sns.countplot(data=app_data1,y='ORGANIZATION_TYPE',
              order=app_data['ORGANIZATION_TYPE'].value_counts().index,palette=['blue'],hue = 'TARGET')
plt.title("ORGANIZATION_TYPE Vs Target 1")



plt.show()

In [ ]:

plt.figure(figsize=(30, 30))

plt.subplot(3,2,1)
sns.countplot(x='NAME_CONTRACT_TYPE_x', hue='NAME_CONTRACT_STATUS', data=comb_data, palette='Set2')
plt.xticks(rotation=30, fontsize=20)
plt.legend(title='Contract Status', fontsize=20)
plt.xlabel('Contract Type', fontsize=20)
plt.ylabel('Count', fontsize=20)
plt.title('Contract Status by Contract Type', fontsize=20)

plt.subplot(3,2,2)
sns.countplot(x='CODE_GENDER', hue='NAME_CONTRACT_STATUS', data=comb_data, palette='Set2')
plt.xticks(rotation=30, fontsize=20)
plt.legend(title='Contract Status', fontsize=20)
plt.xlabel('Gender', fontsize=20)
plt.ylabel('Count', fontsize=20)
plt.title('Contract Status by Gender', fontsize=20)

plt.subplot(3,2,3)
sns.countplot(x='NAME_TYPE_SUITE_x', hue='NAME_CONTRACT_STATUS', data=comb_data, palette='Set2')
plt.xticks(rotation=20, fontsize=20)
plt.legend(title='Contract Status', fontsize=20)
plt.xlabel('Type of Accompaniment', fontsize=20)
plt.ylabel('Count', fontsize=20)
plt.title('Contract Status by Accompaniment', fontsize=20)

plt.subplot(3,2,4)
sns.countplot(x='NAME_INCOME_TYPE', hue='NAME_CONTRACT_STATUS', data=comb_data, palette='Set2')
plt.xticks(rotation=20, fontsize=20)
plt.legend(title='Contract Status', fontsize=20)
plt.xlabel('Income Type', fontsize=20)
plt.ylabel('Count', fontsize=20)
plt.title('Contract Status by Income Type', fontsize=20)

plt.subplot(3,2,5)
sns.countplot(x='NAME_EDUCATION_TYPE', hue='NAME_CONTRACT_STATUS', data=comb_data, palette='Set2')
plt.xticks(rotation=30, fontsize=20)
plt.legend(title='Contract Status', fontsize=20)
plt.xlabel('Education Type', fontsize=20)
plt.ylabel('Count', fontsize=20)
plt.title('Contract Status by Education Type', fontsize=20)

plt.subplot(3,2,6)
sns.countplot(x='NAME_FAMILY_STATUS', hue='NAME_CONTRACT_STATUS', data=comb_data, palette='Set2')
plt.xticks(rotation=30, fontsize=20)
plt.legend(title='Contract Status', fontsize=20)
plt.xlabel('Family Status', fontsize=20)
plt.ylabel('Count', fontsize=20)
plt.title('Contract Status by Family Status', fontsize=20)

plt.tight_layout()
plt.show()








#Working people who are single or legally married have a greater rate of loan rejection.

In [ ]:
#Plotting NAME_CONTRACT_STATUS versus the proportion of clients experiencing payment issues
comb_data['TARGET'] = comb_data['TARGET'].astype(int)
plt.figure(figsize=(8,6))
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)
plt.xlabel('Percentage of clients having payment difficulties', fontsize=16)
plt.ylabel('Contract status', fontsize=16)
comb_data.groupby("NAME_CONTRACT_STATUS")["TARGET"].mean().plot.barh()
plt.show()








#Previously denied customers now fall into the 12% category of those having the most difficulties making payments.

In [ ]:
plt.figure(figsize=(10,10),dpi = 300)
plt.xticks(rotation=90)
plt.title('Purpose of loan')
sns.set_style('darkgrid')
ax = sns.countplot(data = comb_data, y= 'NAME_CASH_LOAN_PURPOSE', order=comb_data['NAME_CASH_LOAN_PURPOSE'].value_counts().index,hue = 'NAME_CONTRACT_STATUS') 
plt.show()

In [ ]:
#'Repairs' accounted for the majority of loan rejections.

In [ ]:
# Univariate analysis on numerical variables using a violin plot


# Set font scale and size
sns.set(font_scale=1.5)
plt.rcParams['font.size'] = 12



plt.figure(figsize=(25,15))

plt.subplot(3,2,1)
sns.violinplot(data=comb_data, x="NAME_CONTRACT_STATUS", y="AMT_INCOME_TOTAL")

plt.subplot(3,2,2)
sns.violinplot(data=comb_data, x="NAME_CONTRACT_STATUS", y="AMT_CREDIT_y")

plt.subplot(3,2,3)
sns.violinplot(data=comb_data, x="NAME_CONTRACT_STATUS", y="AMT_GOODS_PRICE_y")

plt.subplot(3,2,4)
sns.violinplot(data=comb_data, x="NAME_CONTRACT_STATUS", y="AMT_ANNUITY_y")

plt.subplot(3,2,5)
sns.violinplot(data=comb_data, x="NAME_CONTRACT_STATUS", y="Client_Age")

plt.subplot(3,2,6)
sns.violinplot(data=comb_data, x="NAME_CONTRACT_STATUS", y="Employed_Years")

plt.show()

In [ ]:
#With one exception of CLIENT_AGE, all four cases demonstrate a similar distribution but in various age ranges, such as a lower age range for Unused Offers with a small spread and a greater age range for Cancelled Loans with a broader spread. All variables seem to have a similar distribution for all cases.

In [ ]:
#Gender vs Previous contact status vs Target variable
hm = pd.pivot_table(data=comb_data,index="NAME_CONTRACT_STATUS",columns="CODE_GENDER",values="TARGET")
sns.heatmap(hm,annot=True,cmap="coolwarm")
plt.show()

In [ ]:
#1. Clients of cash loans are more likely to experience payment difficulties, with previously rejected loans having the highest percentage at roughly 12%.
#2. Since revolving loans have a lower rate of customers having payment difficultiesthe lowest rate is for loans that have already been approvedthey are a better alternative for the bank to market.

In [ ]:
res = pd.pivot_table(data=comb_data,index="NAME_CONTRACT_STATUS",columns="FLAG_OWN_CAR",values="TARGET")
sns.heatmap(res,annot=True,cmap="plasma")
plt.show()

In [ ]:
#no particular pattern found here

In [ ]:
res = pd.pivot_table(data=comb_data,index="NAME_CONTRACT_STATUS",columns="NAME_CONTRACT_TYPE_x",values="TARGET")
sns.heatmap(res,annot=True,cmap="coolwarm")
plt.show()

In [ ]:
"""Clients who take out cash loans are more likely to experience payment difficulties; the greatest percentage is for previously declined loans, 
which is roughly 12%."""

"""Revolving loans have a lower rate of customers having payment troubles than other types of loans, 
with the lowest rate being for loans that have already been approved, 
making them a better choice for the bank to market."""

In [ ]:
#Education type vs Previous contact status vs Target variable
res = pd.pivot_table(data=comb_data,index="NAME_CONTRACT_STATUS",columns="NAME_EDUCATION_TYPE",values="TARGET")
sns.heatmap(res,annot=True,cmap="viridis")
plt.show()

In [ ]:
#In comparison to other clients, those who earned lesser secondaries pose larger risks to the bank.
#Clients who previously declined the offer are at the greatest danger, since around 50% of them may experience payment difficulties.

In [ ]:
res = pd.pivot_table(data=comb_data,index="NAME_CONTRACT_STATUS",columns="FLAG_OWN_REALTY",values="TARGET")
sns.heatmap(res,annot=True,cmap="RdYlGn")
plt.show()

In [ ]:
#no pattern can be seen here

In [ ]:
res = pd.pivot_table(data=comb_data,index="NAME_CONTRACT_STATUS",columns="NAME_FAMILY_STATUS",values="TARGET")
sns.heatmap(res,annot=True,cmap="coolwarm")
plt.show()

In [ ]:
res = pd.pivot_table(data=comb_data,index="NAME_CONTRACT_STATUS",columns="CREDIT_BANDED",values="TARGET")
sns.heatmap(res,annot=True,cmap="plasma")
plt.show()

In [ ]:
#For the bank, the riskiest loan amount is between 4 lac to6 lac which bank should avoid.

In [ ]:
"""Civilly wed and single people run the greatest danger"""

"""In general, widows pose the lowest risk because they consistently result in timely payments."""

# conclusion

* Banks should concentrate less on income kinds like "Working," which have a greater rate of failed payments, and more on contract types like "Student," "Pensioner," and "Businessman" for lucrative company. The organisation will suffer less financial loss as a result.

* Loans to clients between the ages of 17 and 35 should be avoided, and loans to widows should be favoured. Loan applicants whose applications have previously been denied should also be avoided. The 4 to 6 lac loan amount range is the riskiest and should be avoided.

* Cash loans are not the best choice because they carry greater risk, but revolving loans do not. Males should not be chosen above females. Clients with less than a high school diploma should be avoided.

* For effective payments, banks should concentrate on contract kinds like "student," "pensioner," and "businessman," with dwelling types other than "co-op apartments." 'Repair' loans have a higher percentage of late payments that are unsuccessful. The least dangerous housing type is "With parents," thus banks should make an effort to draw more customers from this group.

* These findings generally imply that banks should concentrate on customers who pose less of a risk in terms of their background and financial history. Banks can minimise financial losses and increase profits by avoiding riskier customers and loan types.